In [1]:
hiring_data={
    "experience": {
        0: float('nan'),
        1: float('nan'),
        2: "five",
        3: "two",
        4: "seven",
        5: "three",
        6: "ten",
        7: "eleven",
    },
    "test_score(out of 10)": {
        0: 8.0,
        1: 8.0,
        2: 6.0,
        3: 10.0,
        4: 9.0,
        5: 7.0,
        6: float('nan'),
        7: 7.0,
    },
    "interview_score(out of 10)": {0: 9, 1: 6, 2: 7, 3: 10, 4: 6, 5: 10, 6: 7, 7: 8},
    "salary($)": {
        0: 50000,
        1: 45000,
        2: 60000,
        3: 65000,
        4: 70000,
        5: 62000,
        6: 72000,
        7: 80000,
    },
}
# X_train, X_test, y_train, y_test = train_test_split(
#     df[["age"]], df.bought_insurance, train_size=0.8
# )
# 2 yr experience, 9 test score, 6 interview score

# 12 yr experience, 10 test score, 10 interview score

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(hiring_data)

In [4]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
df['experience'].mode()

0    eleven
1      five
2     seven
3       ten
4     three
5       two
Name: experience, dtype: object

In [6]:
df['experience']=df['experience'].fillna(df['experience'].mode())

In [7]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())

In [8]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0     eleven               8.000000                           9      50000
1       five               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [9]:
df.isnull().sum()

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [10]:
modify_ex={
    'eleven':11,
    'five':5,
    'two':2,
    'seven':7,
    'three':3,
    'ten':10
    
}

In [11]:
df['experience']=df['experience'].replace(modify_ex)

In [12]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          11               8.000000                           9      50000
1           5               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
features=df[['experience','test_score(out of 10)','interview_score(out of 10)']]

In [15]:
features

   experience  test_score(out of 10)  interview_score(out of 10)
0          11               8.000000                           9
1           5               8.000000                           6
2           5               6.000000                           7
3           2              10.000000                          10
4           7               9.000000                           6
5           3               7.000000                          10
6          10               7.857143                           7
7          11               7.000000                           8

In [16]:
target=df['salary($)']

In [17]:
target

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(features)
X_scaled

array([[ 1.27063966e+00,  1.22627868e-01,  7.32409613e-01],
       [-5.23204565e-01,  1.22627868e-01, -1.22068269e+00],
       [-5.23204565e-01, -1.59416228e+00, -5.69651921e-01],
       [-1.42012668e+00,  1.83941802e+00,  1.38344038e+00],
       [ 7.47435093e-02,  9.81022943e-01, -1.22068269e+00],
       [-1.12115264e+00, -7.35767207e-01,  1.38344038e+00],
       [ 9.71665621e-01, -7.62407981e-16, -5.69651921e-01],
       [ 1.27063966e+00, -7.35767207e-01,  8.13788459e-02]])

In [19]:
 X_train, X_test, y_train, y_test = train_test_split(X_scaled,target,test_size=0.2)

In [20]:
from sklearn import linear_model

In [21]:
model=linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [30]:
model.score(X_scaled,target)

-0.18049074868525006

In [31]:
model.predict([[11,8,9]])

array([80834.17635493])

In [32]:
from sklearn.metrics import confusion_matrix

In [33]:
y_predict=model.predict(X_test)

In [35]:
# cm=confusion_matrix(y_test,y_predict)